<h1>Danh sách sản phẩm</h1>
<table class="table" border="1px">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td colspan="3">Mô tả</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button routerLink="../product/{{product.id}}">Detail</button></td>
    <td><button routerLink="edit/{{product.id}}">Edit</button></td>
    <td><button routerLink="delete/{{i}}">Delete</button></td>
  </tr>
</table>
